In [14]:
import pandas as pd
import datetime
import matplotlib.pyplot as plt

In [6]:
dowjones = pd.read_csv('DJI.csv')
dowjones.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2019-07-29,27192.240234,27275.849609,27178.060547,27221.349609,27221.349609,250850000
1,2019-07-30,27145.390625,27224.359375,27069.859375,27198.019531,27198.019531,293250000
2,2019-07-31,27244.669922,27281.650391,26719.599609,26864.269531,26864.269531,385150000
3,2019-08-01,26879.859375,27175.589844,26548.710938,26583.419922,26583.419922,386320000
4,2019-08-02,26528.660156,26570.019531,26249.220703,26485.009766,26485.009766,327640000

In [7]:
dowjones.drop(columns=['Open','High','Low','Adj Close'],inplace=True)
dowjones

           Date         Close     Volume
0    2019-07-29  27221.349609  250850000
1    2019-07-30  27198.019531  293250000
2    2019-07-31  26864.269531  385150000
3    2019-08-01  26583.419922  386320000
4    2019-08-02  26485.009766  327640000
..          ...           ...        ...
248  2020-07-22  27005.839844  404340000
249  2020-07-23  26652.330078  419800000
250  2020-07-24  26469.890625  494170000
251  2020-07-27  26584.769531  389810000
252  2020-07-28  26472.099609  196893762

[253 rows x 3 columns]

In [12]:
dowjones['Date'] = pd.to_datetime(dowjones['Date'])

In [13]:
dowjones

          Date         Close     Volume
0   2019-07-29  27221.349609  250850000
1   2019-07-30  27198.019531  293250000
2   2019-07-31  26864.269531  385150000
3   2019-08-01  26583.419922  386320000
4   2019-08-02  26485.009766  327640000
..         ...           ...        ...
248 2020-07-22  27005.839844  404340000
249 2020-07-23  26652.330078  419800000
250 2020-07-24  26469.890625  494170000
251 2020-07-27  26584.769531  389810000
252 2020-07-28  26472.099609  196893762

[253 rows x 3 columns]