In [178]:
import pandas as pd
import datetime
import matplotlib.pyplot as plt
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

In [6]:
dowjones = pd.read_csv('DJI.csv')
dowjones.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2019-07-29,27192.240234,27275.849609,27178.060547,27221.349609,27221.349609,250850000
1,2019-07-30,27145.390625,27224.359375,27069.859375,27198.019531,27198.019531,293250000
2,2019-07-31,27244.669922,27281.650391,26719.599609,26864.269531,26864.269531,385150000
3,2019-08-01,26879.859375,27175.589844,26548.710938,26583.419922,26583.419922,386320000
4,2019-08-02,26528.660156,26570.019531,26249.220703,26485.009766,26485.009766,327640000

In [7]:
dowjones.drop(columns=['Open','High','Low','Adj Close'],inplace=True)
dowjones

           Date         Close     Volume
0    2019-07-29  27221.349609  250850000
1    2019-07-30  27198.019531  293250000
2    2019-07-31  26864.269531  385150000
3    2019-08-01  26583.419922  386320000
4    2019-08-02  26485.009766  327640000
..          ...           ...        ...
248  2020-07-22  27005.839844  404340000
249  2020-07-23  26652.330078  419800000
250  2020-07-24  26469.890625  494170000
251  2020-07-27  26584.769531  389810000
252  2020-07-28  26472.099609  196893762

[253 rows x 3 columns]

In [12]:
dowjones['Date'] = pd.to_datetime(dowjones['Date'])

In [13]:
dowjones

          Date         Close     Volume
0   2019-07-29  27221.349609  250850000
1   2019-07-30  27198.019531  293250000
2   2019-07-31  26864.269531  385150000
3   2019-08-01  26583.419922  386320000
4   2019-08-02  26485.009766  327640000
..         ...           ...        ...
248 2020-07-22  27005.839844  404340000
249 2020-07-23  26652.330078  419800000
250 2020-07-24  26469.890625  494170000
251 2020-07-27  26584.769531  389810000
252 2020-07-28  26472.099609  196893762

[253 rows x 3 columns]

In [77]:
#biden
classified_clusters = [2, 2, 2, 0, 2, 2, 0, 2, 2, 2, 0, 1, 2, 2, 2, 0, 2, 0, 2]
speech_dates = ['../data/Biden/March122020.txt',
 '../data/Biden/June092020.txt',
 '../data/Biden/May292020.txt',
 '../data/Biden/April072020.txt',
 '../data/Biden/October092019.txt',
 '../data/Biden/July042020.txt',
 '../data/Biden/July142020.txt',
 '../data/Biden/June252020.txt',
 '../data/Biden/June022020.txt',
 '../data/Biden/March102020.txt',
 '../data/Biden/July212020.txt',
 '../data/Biden/May042020.txt',
 '../data/Biden/March232020.txt',
 '../data/Biden/July022020.txt',
 '../data/Biden/June172020.txt',
 '../data/Biden/July032020.txt',
 '../data/Biden/February292020.txt',
 '../data/Biden/July082020.txt',
 '../data/Biden/August082019.txt',
 '../data/Biden/July092020.txt',
 '../data/Biden/February172020.txt',
 '../data/Biden/March172020.txt']
dates = []
for i in range(len(speech_dates)):
    #print(speech_dates[i][14:-4])
    date_time_str = speech_dates[i][14:-4] #add spaces
    date_time_obj = datetime.datetime.strptime(date_time_str, '%B%d%Y')
    print(date_time_obj)
    dates.append(date_time_obj)
#    datetime_obj = datetime.strptime(datetime(speech_dates[i][14:-4]),'%B%d%Y').date()

2020-03-12 00:00:00
2020-06-09 00:00:00
2020-05-29 00:00:00
2020-04-07 00:00:00
2019-10-09 00:00:00
2020-07-04 00:00:00
2020-07-14 00:00:00
2020-06-25 00:00:00
2020-06-02 00:00:00
2020-03-10 00:00:00
2020-07-21 00:00:00
2020-05-04 00:00:00
2020-03-23 00:00:00
2020-07-02 00:00:00
2020-06-17 00:00:00
2020-07-03 00:00:00
2020-02-29 00:00:00
2020-07-08 00:00:00
2019-08-08 00:00:00
2020-07-09 00:00:00
2020-02-17 00:00:00
2020-03-17 00:00:00

In [78]:
dates = dates[:-3]#last three used for validation, remove

In [79]:

dates

[datetime.datetime(2020, 3, 12, 0, 0),
 datetime.datetime(2020, 6, 9, 0, 0),
 datetime.datetime(2020, 5, 29, 0, 0),
 datetime.datetime(2020, 4, 7, 0, 0),
 datetime.datetime(2019, 10, 9, 0, 0),
 datetime.datetime(2020, 7, 4, 0, 0),
 datetime.datetime(2020, 7, 14, 0, 0),
 datetime.datetime(2020, 6, 25, 0, 0),
 datetime.datetime(2020, 6, 2, 0, 0),
 datetime.datetime(2020, 3, 10, 0, 0),
 datetime.datetime(2020, 7, 21, 0, 0),
 datetime.datetime(2020, 5, 4, 0, 0),
 datetime.datetime(2020, 3, 23, 0, 0),
 datetime.datetime(2020, 7, 2, 0, 0),
 datetime.datetime(2020, 6, 17, 0, 0),
 datetime.datetime(2020, 7, 3, 0, 0),
 datetime.datetime(2020, 2, 29, 0, 0),
 datetime.datetime(2020, 7, 8, 0, 0),
 datetime.datetime(2019, 8, 8, 0, 0)]

In [164]:
speeches = {'speech_date':dates, 'cluster':classified_clusters, 'Close':np.zeros(len(dates))}
df = pd.DataFrame(data=speeches)
df.head()

  speech_date  cluster  Close
0  2020-03-12        2    0.0
1  2020-06-09        2    0.0
2  2020-05-29        2    0.0
3  2020-04-07        0    0.0
4  2019-10-09        2    0.0

In [165]:
#for matching dates, save out 'Close'

In [168]:
clo = []
for i in range(len(df)):
    for j in range(len(dowjones)):
        if (dowjones['Date'].iloc[j] == df['speech_date'].iloc[i]):
            clo.append([df['speech_date'].iloc[i],dowjones['Close'].iloc[j],df['cluster'].iloc[i]])
            #print(dowjones['Close'].iloc[j])
            #df['Close'] = df['Close'].replace([0.0],dowjones['Close'].iloc[j])
print(clo)

[[Timestamp('2020-03-12 00:00:00'), 21200.619141, 2], [Timestamp('2020-06-09 00:00:00'), 27272.300781, 2], [Timestamp('2020-05-29 00:00:00'), 25383.109375, 2], [Timestamp('2020-04-07 00:00:00'), 22653.859375, 0], [Timestamp('2019-10-09 00:00:00'), 26346.009766, 2], [Timestamp('2020-07-14 00:00:00'), 26642.589844, 0], [Timestamp('2020-06-25 00:00:00'), 25745.599609, 2], [Timestamp('2020-06-02 00:00:00'), 25742.650391, 2], [Timestamp('2020-03-10 00:00:00'), 25018.160156, 2], [Timestamp('2020-07-21 00:00:00'), 26840.400391, 0], [Timestamp('2020-05-04 00:00:00'), 23749.759766, 1], [Timestamp('2020-03-23 00:00:00'), 18591.929688, 2], [Timestamp('2020-07-02 00:00:00'), 25827.359375, 2], [Timestamp('2020-06-17 00:00:00'), 26119.609375, 2], [Timestamp('2020-07-08 00:00:00'), 26067.279297, 0], [Timestamp('2019-08-08 00:00:00'), 26378.189453, 2]]

In [172]:
#add Cluster to clo
new_df = pd.DataFrame(data=clo,columns=['Date','Close','Cluster'])
new_df

         Date         Close  Cluster
0  2020-03-12  21200.619141        2
1  2020-06-09  27272.300781        2
2  2020-05-29  25383.109375        2
3  2020-04-07  22653.859375        0
4  2019-10-09  26346.009766        2
5  2020-07-14  26642.589844        0
6  2020-06-25  25745.599609        2
7  2020-06-02  25742.650391        2
8  2020-03-10  25018.160156        2
9  2020-07-21  26840.400391        0
10 2020-05-04  23749.759766        1
11 2020-03-23  18591.929688        2
12 2020-07-02  25827.359375        2
13 2020-06-17  26119.609375        2
14 2020-07-08  26067.279297        0
15 2019-08-08  26378.189453        2

In [187]:
regressor = LinearRegression()
X = new_df['Cluster'].values.reshape(-1,1)
y = new_df['Close'].values
regressor.fit(X,y)
pred_y = regressor.predict(X)
r2_score(y,pred_y)

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

Traceback (most recent call last):
  File "/Users/alyssa/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py", line 3331, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-187-2530a00f3480>", line 7, in <module>
    score(y,pred_y)
NameError: name 'score' is not defined

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/alyssa/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py", line 2044, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'NameError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/alyssa/opt/anaconda3/lib/python3.7/site-packages/IPython/core/ultratb.py", line 1151, in get_records
    return _fixed_getinnerframes(etb, number_of_lines_of_context, tb_offset)
  File "/Users/alyssa/opt/anaconda3/lib/python3.7/site-packages/IPython/core/ultratb.py", line 319, in wrapped
    return f(*args, **kwargs)
  File "/Users/alyssa/opt/anaconda3/lib/python3.7/site-packages/IPython/core/ultratb.py", line 353, in _fixed_getinnerframes
    records = fix_frame_records_filenames(inspect.getinnerframes(etb, context))
  File "/Users/alyssa/opt/anaconda3/lib/python3.7/inspect.py", line 1502, in getinnerframes
    frameinfo = (tb.tb_frame,) + getframeinfo(tb, context)
  File "/Users/alyssa/opt/anaconda3/lib/python3.7/inspect.py", line 1460, in getframeinfo
    filename = getsourcefile(frame) or getfile(frame)
  File "/Users/alyssa/opt/anaconda3/lib/python3.7/inspect.py", line 696, in getsourcefile
    if getattr(getmodule(object, filename), '__loader__', None) is not None:
  File "/Users/alyssa/opt/anaconda3/lib/python3.7/inspect.py", line 725, in getmodule
    file = getabsfile(object, _filename)
  File "/Users/alyssa/opt/anaconda3/lib/python3.7/inspect.py", line 709, in getabsfile
    return os.path.normcase(os.path.abspath(_filename))
  File "/Users/alyssa/opt/anaconda3/lib/python3.7/posixpath.py", line 383, in abspath
    cwd = os.getcwd()
FileNotFoundError: [Errno 2] No such file or directory

NameError: name 'score' is not defined